.primary_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 18px 10px;
    background: black;
    color: #fff;
    border-radius: 5px;
    min-width:220px ;
    cursor: pointer;
}

.outline_btn{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 18px 10px;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    min-width:220px ;
    cursor: pointer;
    width: 100%;
}

